@attribute [Authorize]
@using UrlShortener.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using CurrieTechnologies.Razor.Clipboard
@inject HttpClient Http
@inject IConfiguration Configuration
@inject ClipboardService clipboard
@inject NotificationService NotificationService
@inject DialogService DialogService



<RadzenTemplateForm Data="@createShortUrlRequest" Submit="@(async (CreateShortUrlRequest args) => { await Submit(args); })">
    <RadzenFieldset>

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Short Name" />
            </div>
            <div class="col-md-8">
                <RadzenTextBox ReadOnly="@isEditMode" @bind-Value="@createShortUrlRequest.ShortName" style="width: 100%;" Name="ShortName" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Destination Url" />
            </div>
            <div class="col-md-8">
                <RadzenTextBox ReadOnly="@isEditMode" @bind-Value="@createShortUrlRequest.DestinationUrl" style="width: 100%;" Name="DestinationUrl" />
            </div>
        </div>

    </RadzenFieldset>
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">

            <RadzenButton ButtonStyle="@ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
            <RadzenButton ButtonType="@ButtonType.Submit" Icon="save" Text="Save" />
        </div>
    </div>
</RadzenTemplateForm>

@code {

    [Parameter]
    public CreateShortUrlRequest createShortUrlRequest { get; set; }

    [Parameter]
    public bool isEditMode { get; set; }

    async Task Submit(CreateShortUrlRequest arg)
    {
        await Http.PostAsJsonAsync("/api/short-url", arg);
        DialogService.Close(true);
    }

    void Cancel()
    {
    }

}
