@attribute [Authorize]
@using UrlShortener.Shared.Models
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@inject DialogService DialogService



<RadzenTemplateForm Data="@CreateOrUpdateShortUrlRequest" Submit="@(async (CreateOrUpdateShortUrlRequest args) => { await Submit(args); })">
    <RadzenFieldset>

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Short Name" />
            </div>
            <div class="col-md-8">
                <RadzenTextBox ReadOnly="@CreateOrUpdateShortUrlRequest.IsEdit" @bind-Value="@CreateOrUpdateShortUrlRequest.ShortName" style="width: 100%;" Name="ShortName" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Destination Url" />
            </div>
            <div class="col-md-8">
                <RadzenTextBox  @bind-Value="@CreateOrUpdateShortUrlRequest.DestinationUrl" style="width: 100%;" Name="DestinationUrl" />
            </div>
        </div>

    </RadzenFieldset>
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">

            <RadzenButton ButtonStyle="@ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
            <RadzenButton ButtonType="@ButtonType.Submit" Icon="save" Text="Save" />
        </div>
    </div>
</RadzenTemplateForm>

@code {

    [Parameter]
    public CreateOrUpdateShortUrlRequest CreateOrUpdateShortUrlRequest { get; set; }

    [Parameter]
    public bool isEditMode { get; set; }

    async Task Submit(CreateOrUpdateShortUrlRequest arg)
    {
        if (arg.IsEdit)
        {
            
            await Http.PatchAsJsonAsync("/api/short-url", arg);
        }
        else
        {
            await Http.PostAsJsonAsync("/api/short-url", arg); 
        }
        DialogService.Close(true);
    }

    void Cancel()
    {
    }

}
